<div class="row" id="game">
    <div class="span12">

        <% console.log('in the view', this.model, id, name, completed, 'test'); %>
        <div class="row" id="scoreboard">
            <%
                var isHighest               =   false;
                var playerWithHighScore     =   _.max(players, function(player){ return player.total_score });

                _.each(players, function(player){

                    if(playerWithHighScore)
                        if(playerWithHighScore.total_score == player.total_score
                                && playerWithHighScore.total_score != 0
                            ){
                            isHighest = true;
                        }else{
                            isHighest = false;
                        }
                    %>
                    <div class="player span12  <%=isHighest ? 'highest' : '' %>" data-player-id="<%-player.id %>">
                        <div class="row">
                            <div class="span8 name"><%-player.name %></div>
                            <div class="span3 score"><%-player.total_score %></div>
                            <% if(!completed){ %>
                                <div class="span1 update">+<br />-</div>
                            <% }else{ %>
                                <div class="span1 locked"><i class="icon icon-lock"></i></div>
                            <% } %>
                        </div>
                        <div class="row score_change_wrapper">
                            <div class="span3 add">+</div>
                            <div class="span6 score_input_wrapper">
                                <input type="tel" placeholder="00" class="score_input" />
                            </div>
                            <div class="span3 subtract">-</div>
                        </div>
                    </div>
                    <%
                });
            %>
        </div>

        <% if(!completed){ %>
            <div class="end-game-wrapper">
                <a href="#" class="btn btn-primary" id="end-game">End Game</a>
            </div>
        <% } %>

    </div>
</div>