@font-face {  
  font-family: manteka ;  
  src: url( 'fonts/manteka/manteka.ttf' ) format("truetype");  
} 

body {
    background: #18A6A1;
    color:white;
    font-family: manteka , verdana, helvetica, sans-serif;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

.brand, .brand:hover{
    color: #ffffff;
}

/* -------------- GAME LISTING PAGE --------------- */

#game-list{
    height:600px;    
}

#no-games {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    font-size: 18px;
    color: #FFF;
    border: 3px dotted #FFF;
    padding: 35px 25px;
    border-radius: 5px;
    font-weight: 500px;
    cursor: pointer;
}

li.game{
    list-style:none;
    background: white;
    color: #1C546A;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

li.game .name{
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

li.game .winner{
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

li.game .players .player .name{
    font-size: 13px;
    margin: 5px;
    font-weight: 300;
    text-transform: uppercase;
}

li.game .delete{
    position: absolute;
    right: 10px;
    top: 10px;
}

/* ---------- END : GAME LISTING PAGE ------------ */


/* ---------- NEW GAME FORM ------------ */

#new-game-form{

}

#new-game-form #new-game-name{
    width: 96%;
    border-radius: 0px;
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    padding: 5px;
} 

#new-game-form .player{
    background: white;
    color: #1C546A;
    padding: 10px 10px;
    margin-bottom: 10px;
}

#new-game-form .player.selected {
    background: #1C546A;
    color: white;
}

#new-game-form #add-new-player{
    float: right;;
}

#new-player-form{
    border-radius: 0px;
}

#new-player-form .modal-header{
    color: #1C546A;
}

/* ---------- END NEW GAME FORM ------------ */


/* ---------- GAME DETAILS PAGE ------------ */

#game-details{
    background-color: white;
    color: #1C546A;
    padding-bottom: 10px;
}

#game-details #game{

}

#game #title{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    background-color: #1C546A;
    color: white;
    margin-bottom: 10px;
}

#game .player {
    float: left;
    text-align: center;
}

#game .player .name{
    width: 100%;
    text-align: center;
    max-height: 30px;
    min-height: 30px;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#game .add_score {
    cursor: pointer;
}

#game .score_input_wrapper{
    display: none;
}


/* ------- END : GAME DETAILS PAGE --------- */
