@font-face {  
  font-family: manteka ;  
  src: url( 'fonts/manteka/manteka.ttf' ) format("truetype");  
}

@font-face {  
  font-family: advent ;  
  src: url( 'fonts/advent/advent_bold.ttf' ) format("truetype");  
}

@font-face {  
  font-family: arvil ;  
  src: url( 'fonts/arvil/Arvil_Sans.ttf' ) format("truetype");  
}

html, body {
  height: 100%;
}

body {
    background: #18A6A1;
    color:white;
    font-family: arvil, verdana, helvetica, sans-serif;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

#app{
  height: 500px;
  overflow-y : scroll;
}

.view-close{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 60px;
  color: white;
  font-weight: 100;
  text-shadow: none;
  opacity: 0.7;
  display: none;
}

.view-close:hover{
  color: white;
  text-decoration: none;
}

/* -------------- BOOTSTRAP OVERRIDES --------------- */

.btn{
    border-radius: 0px;
    font-size: 20px;
    letter-spacing: 1px;
}

.btn-primary, .btn-primary:hover{
  background: #37AAE4;
}

input{
  border-radius: 0px;
  border: none !important;

}

/* -------------- END BOOTSTRAP OVERRIDES --------------- */


/* -------------- LEFT NAV --------------- */

#left-nav{

}

#left-nav li a{
  width: 100%;
  height: 60px;
  line-height: 60px;
}

#left-nav .nav-item{
  color: white;
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
}

#left-nav .nav-item#current-games{
  background-color: #49D1BB;
}

#left-nav .nav-item#show-add-new-game{
  background-color: #FB444F;
}

#left-nav .nav-item#all-games{
  background-color: #6F395F;
}

#left-nav .nav-item#players{
  background-color: #BAB387;
}

#left-nav .nav-item#settings{
  background-color: #24272C;
  display: none;
}

/* --------------END LEFT NAV --------------- */


/* -------------- GAME LISTING PAGE --------------- */

#game-list{
    height:600px;    
}

#no-games {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    font-size: 18px;
    color: #FFF;
    border: 3px dotted #333;
    padding: 35px 25px;
    border-radius: 5px;
    font-weight: 500px;
    cursor: pointer;
    color: black;
}

.game{
    list-style:none;
    background: white;
    color: #1C546A;
    padding-bottom: 7px;
    position: relative;
    padding-top: 7px;
    border-bottom: 1px solid #BFC7D8;
}

.game .section1{
  width: 25%;
  float: left;
  min-height: 100px;
}

.game .section1 .moment-header{
  background-color: rgb(54, 158, 141);
  height: 12px;
  margin: 0px 15px;
  padding: 0px;
}

.game .section1 .moment{
  text-align: center;
  background-color: #49D1BB;
  margin: 0px 15px;
  padding: 0px;
  color: white;
}

.game .section1 .moment .month{
  font-size: 20px;
  text-transform: uppercase;
  height: 24px;
}

.game .section1 .moment .day{
  font-size: 32px;
  margin-top: 3px;
  height: 42px;
  line-height: 42px;
  letter-spacing: 2px;
}

.game .section1 .moment .year{
  
}

.game .section2{
  width: 75%;
  float: left;
}

.game .name{
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #24272C;
}

.game .winner{
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

.game .players .player  {
    margin-top: 5px;
}

.game .players .player .name{
    font-size: 20px;
    margin: 5px;
    font-weight: 300;
    text-transform: uppercase;
}

.game .delete{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 45px;
}

.game.completed .name{
  color: silver !important;
}

.game.completed .winner{
  color: silver !important;
}

.game.completed .section1 .moment-header{
  background-color: #6F395F;
}

.game.completed .section1 .moment{
  background-color: rgb(158, 95, 139);
}



/* ---------- END : GAME LISTING PAGE ------------ */


/* ---------- NEW GAME FORM ------------ */

#new-game-form{
  text-align: center;
}

#new-game-form .title.select-players{
  font-size: 20px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

#new-game-form #new-game-name{
    width: 80%;
    border-radius: 0px;
    height: 35px;
    line-height: 35px;
    font-size: 40px;
    padding: 5px;
    margin-top: 40px;
    background-color: transparent !important;
    border-style: solid !important;
    border-width: 0px 0px 1px 0px !important;
    border-color: #37AAE4 !important;
    outline: none;
    -webkit-box-shadow: none;
    text-align: center;
    font-family: arvil, verdana, helvetica;
}

#new-game-form #new-game-name:focus{
  outline: none;
  -webkit-box-shadow: none;
}

#new-game-form #available-players{
  text-align: center;
}

#new-game-form #available-players .player{
    background: whiteSmoke;
    color: #1C546A;
    padding: 10px 10px;
    margin-bottom: 10px;
    font-size: 24px;
    letter-spacing: 1px;
    width: 80%;
    margin: 5px auto;
}

#new-game-form #select-player-msg{
    padding-top: 20px;
    font-size: 20px;
    color: salmon;
    display: none;
}

#new-game-form #available-players .player.selected {
    background: #FB444F;
    color: white;
}

#new-game-form #add-new-player{
    width: 80%;
    padding-right: 0;
    padding-left: 0;
    font-size: 23px;
    letter-spacing: 1px;
    height: 35px;
    line-height: 35px;
    margin-bottom: 15px;
}

#new-player-form{
    border-radius: 0px;
}

#new-player-form .modal-header{
    color: #1C546A;
}

#new-player-form .btn.close{
    opacity: 1;
    float: left;
}

#new-player-form #new-player-name-input{

    text-align: center;
    background-color: transparent !important;
    border-style: solid !important;
    border-width: 0px 0px 1px 0px !important;
    /* border-color: #37AAE4 !important; */
    border-color: transparent !important;
    outline: none;
    -webkit-box-shadow: none;
    font-size: 40px;
    width: 100%;
    border-radius: 0px;
    font-family: arvil, verdana, helvetica;
    height: 40px;
    margin-top: 10px;
}

#create-game {
    width: 80%;
    margin-top: 30px;
    padding: 12px 12px;
}

/* ---------- END NEW GAME FORM ------------ */


/* ---------- GAME DETAILS PAGE ------------ */

#game-details{
    background-color: white;
    color: #1C546A;
    padding-bottom: 10px;
}

#game-details #game{

}

#game #title{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    background-color: #1C546A;
    color: white;
    margin-bottom: 10px;
}

#game .player {
  float: left;
  text-align: center;
  font-size: 40px;
}

#game .player .name{
    text-align: left;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 60%;
    float: left;
    line-height: 40px;
    height: 40px;
    margin-top: 20px;
} 

#game .player.highest .name{
    color: limegreen;
}

#game .player .score{
    width: 20%;
    float: left;
    height: 40px;
    letter-spacing: 2px;
    line-height: 40px;
    height: 40px;
    margin-top: 20px;
}

#game .player .update{
    height: 50px;
    margin-top: 10px;
    width: 20%;
    float: right;
    line-height: 20px;
    padding-top: 15px;
    font-size: 60px;
}

#game .player .update.active{
    background: skyblue;
    box-shadow: 0px 0px 0px rgb(63, 130, 156);
    color: white;
}

#game .add_score {
    cursor: pointer;
}

#game .score_change_wrapper{
    display: none;
    line-height: 50px;
    height: 70px;
    background: skyblue;
    box-shadow: 3px 1px 5px rgb(63, 130, 156);
    color: white;
    font-size: 50px;
    padding-top: 20px;
}

#game .player .locked .icon.icon-lock{
  margin-top: 40px;
  opacity: 0.4;
}

#game .score_change_wrapper .score_input_wrapper{
    float: right;
    width: 20%;
    text-align: center;
}

#game .score_change_wrapper .score_input_wrapper input{
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    background-color: transparent; 
    border-style: solid; 
    border-width: 0px 0px 1px 0px; 
    border-color: silver;
    border-radius: 0px;
    line-height: 40px;
    font-family: arvil, verdana, helvetica;
    height: 40px;
    color: white;
}

#game .score_change_wrapper .score_input_wrapper input::-webkit-input-placeholder{
    color: #EEE;
    font-size: 40px;
}

#game .score_change_wrapper .score_input_wrapper input:focus{
    outline: none;
    -webkit-box-shadow: none;
    opacity: 0.8;
}

#game .score_change_wrapper .add{
    float: right;
    width: 20%;
    font-size: 30px;
    cursor: pointer;
    line-height: 50px;
    font-size: 70px;

    border: 1px solid white;
    height: 50px;
    width: 50px !important;
    border-radius: 50px;
    margin-right: 25px;
    margin-left: 25px;
}

#game .score_change_wrapper .subtract{
    float: right;
    width: 20%;
    line-height: 55px;
    font-size: 70px;
    cursor: pointer;

    border: 1px solid white;
    height: 50px;
    width: 50px !important;
    border-radius: 50px;
    margin-right: 10px;
}

#game .end-game-wrapper{
    position: fixed;
    width: 100%;
    bottom: 0;
}

#game #end-game{
    font-weight: bold;
    border: 1px solid #37AAE4;
    background: #37AAE4; /*#fc4940;*/
    box-shadow: none;
    width: 100%;
    display: block;
    height: 35px;
    line-height: 35px;
    font-size: 28px;
}


/* ------- END : GAME DETAILS PAGE --------- */

/* ------- MANAGE PLAYERS PAGE --------- */

#players {
    color: black;
}

#players .player{
    height: 30px;
}

#players .player .name{
    font-size: 40px;
    float: left;
    width: 70%;
    padding: 20px 0px 20px 10px;
}

#players .player .delete{
    color: #999;
    float: right;
    width: 20%;
    font-size: 60px;
    line-height: 60px;
}
/* ------- END : MANAGE PLAYERS PAGE --------- */


/*** ---- SNAP ---- *****/

/* Show "Left" drawer for the "Right" drawer in the demo */
.snapjs-right .snap-drawer-left {
    display: block;
    right: 0;
    left: auto;
}

/* Hide the actual "Right" drawer in the demo */
.snapjs-right .snap-drawer-right {
    display: none;
}

/* Show the "Drag" background in the demo */
#content {
  background: #18A6A1 url('../img/brillant/brillant.png');
}

/* Demo toolbar styles */
#toolbar {
  background: #24272C;
  border-bottom: 1px solid #111b32;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  height: 44px;
}

#toolbar h1 {
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 44px;
  left: 44px;
  width: auto;
  height: 44px;
}

#nav-opener{
  position: absolute;
  left: 0;
  top: 0;
  float: left;
  text-align: center;
}

#open-left {
  background: url(../img/open.png) center center no-repeat;
  display: block;
  height: 44px;
  width: 44px;
}

#page-title-wrapper {
    text-align: center;
    font-size: 34px;
    margin: 5px 0px;
    width: 100%;
    float: right;
    height: 34px;
    letter-spacing: 2px;
    line-height: 34px;
}

/* Show the red "No Drag" box in the demo */
#no-drag {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 100px;
    margin-left: -25%;
    margin-top: -50px;
    background: red;
    color: #FFF;
    text-align: center;
    line-height: 100px;
}

/* Styles for the social buttons in the demo */
.demo-social {
    padding: 0 15px;
}

/* Show the translucent white "Toggle" boxes in the demo */
.toggler {
    width: 80%;
    background: rgba(255,255,255,0.5);
    margin: 0 auto;
    position: relative;
    top: 70px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* Styles for expanding "Search" input in the "Expanding" demo */
.search {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
       -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

#search {
    height: 30px;
    width: 87%;
    margin: 7px 7px 0 7px;
    background: linear-gradient(#414A5A,#4C5464);
    background: -webkit-linear-gradient(#414A5A,#4C5464);
    padding-left: 15px;
    border: 1px solid #222936;
    -webkit-border-radius: 25px;
       -moz-border-radius: 25px;
            border-radius: 25px;
    -webkit-box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, 0.5),0 1px 2px -1px rgba(255, 255, 255, 0.4);
       -moz-box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, 0.5),0 1px 2px -1px rgba(255, 255, 255, 0.4);
            box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, 0.5),0 1px 2px -1px rgba(255, 255, 255, 0.4);
}

#search:focus {
    outline: none;
    border-color: #151515;
}

/* Styles for fading out the drawer content in the "Expanding" demo */
.drawer-inner {
    -webkit-transition: opacity 0.3s ease; 
       -moz-transition: opacity 0.3s ease; 
        -ms-transition: opacity 0.3s ease; 
         -o-transition: opacity 0.3s ease; 
            transition: opacity 0.3s ease; 
}

.snapjs-expand-left .drawer-inner,
.snapjs-expand-right .drawer-inner {
    opacity: 0;
}

/* Styles for the "Settings" demo */
.opt {
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.opt p {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
    color: #222;
    color: rgba(0, 0, 0, 0.6);
}

/* Default demo styles */
.snap-content {
  background: #BFC7D8;
}

.snap-drawers {
  background: #323949;
}

.snap-drawer {
    background: #323949;
    color: #eee;
    width: 180px;
}

.snap-drawer h3 {
  font-size: 60px;
  font-weight: normal;
  margin: 25px 15px;
}

.snap-drawer h4 {
  padding: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 0;
}

.snap-drawer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.snap-drawer li > a {
  display: block;
  border-bottom: 1px solid rgba(0,0,0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px 0px;
  font-weight: bold;
  text-shadow: 0 1px 0 #000;
  text-decoration: none;
  color: #ccc;
  text-indent: 20px;
}

.snap-drawer p {
  opacity: 0.5;
  padding: 15px;
  font-size: 12px;
}
