<div class="row-fluid" id="game">
    <div class="span24">

        <div class="row-fluid">
            <div class="span24" id="title">
                <%- name %>
            </div>
        </div>


        <div class="row-fluid" id="scoreboard">
            <%
                var width = 100/players.length;
                _.each(players, function(player){
                    %>
                        <div class="player" data-player-id="<%-player.id %>" style="width:<%-width %>%">
                            <div class="name"><%-player.name %></div>
                            <%
                                _.each(player.scores, function(score){
                                %>
                                    <div class="score"><%-score %></div>
                                <%
                                });
                            %>
                            <div class="add_score">+</div>
                            <div class="score_input_wrapper">
                                <input type="text" class="score_input" />
                            </div>
                        </div>
                    <%
                });
            %>
        </div>

    </div>
</div>